.App {
  text-align: center;
}

.div::after {
  height: 100%;
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./assets/mbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -50;
}
